.review-section{
    width:70%;
    margin:80px auto;
    padding:40px;
    background:#ffffff;
    border-radius:15px;
   box-shadow:0 8px 20px rgba(0,0,0,0.1);
       text-align:center;
}

.review-section h2{
    color:#0d47a1;
    font-size:36px;
    margin-bottom:10px;
}

.review-section p{
    color:#666;
    margin-bottom:30px;
}

.review-form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.review-form input,
.review-form select,
.review-form textarea{
    width:100%;
    padding:15px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    transition:0.3s;
    box-sizing:border-box;
}

.review-form input:focus,
.review-form select:focus,
.review-form textarea:focus{
    border-color:#1976d2;
    box-shadow:0 0 8px rgba(25,118,210,0.2);
}

.review-form textarea{
    resize:vertical;
    min-height:150px;
}

.review-form button{
    background:#0d47a1;
    color:white;
    border:none;
    padding:15px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

.review-form button:hover{
    background:#1565c0;
}