.section
{
    display:flex;

    gap: 25px;
    justify-content: center;


}
.doctor
{
  background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;
    height:250px;
    width:500px;
}
.section1
{
    display:flex;
justify-content:center;
gap:20px;
}

.doctor-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
.hero{
    background:linear-gradient(135deg,#2563eb,#1e40af);
    color:white;
    text-align:center;
    padding:60px;
    border-radius:20px;
    margin-bottom:40px;
}
button{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
}