body{
    margin: 0;
    background-color: #fafafa;
}

#navbar input {
    display: none;
   
}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    display: flex;
    font-size: larger;

}
.nav-btn {
    z-index: 999;
    background-color: rgb(96, 96, 212);
    color: whitesmoke;
    position: absolute;
    top: 13px;
    left: 10px;
    padding-top: 2px;
    padding-bottom:5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px; 
    font-size: 22px;
    cursor: pointer;

}
.nav-items{
    flex-direction: column;
   background-color: rgb(96, 96, 212);
    justify-content: center;
    padding:15px;
    padding-top: 70px;
    padding-left: 28px;
    margin: -10px;
    width: 100%;
    border-radius: 25px;
    transform: translateX(-10px);
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}
.nav-items a{
    text-decoration-line: none;
        color: whitesmoke;
        padding: 6px;
}
.nav-items a:hover{
   background-color: rgb(109, 109, 215);
   border-radius: 15px;
   text-align: center;
}
#nav-btn:checked ~ .nav-items {
    display: flex;
transform: translateX(0);
opacity: 1;
pointer-events: auto;
}
#content h1{
   text-align: center;
   color:  rgb(71, 71, 217);
   font-size: 37px;
   margin-top: 40px;
}
#card-info{
      color:  #34495e;
      background-color: #eaeaea;
      width: 450px;
      height: 180px;
      border-radius: 15px;
      padding-top: 10px;
      margin-left: 155px;
      margin-top: 130px;
      padding: 8px;
}
#card-info a{
    position:fixed;
    text-decoration-line: none;
    background-color:rgb(71, 71, 217) ;
    color: whitesmoke;
    padding: 7px;
    border-radius: 5px;
    left: 335px;
    position: relative;
    transition: 0.4s ease;
}
#card-info a:hover{
      background-color: rgb(96, 96, 212);
      padding: 10px;
   
}
#stats-card{
     color:  #34495e;
      background-color: #eaeaea;
      width: 400px;
      height: 180px;
      border-radius: 15px;
      padding-top: 10px;
      margin-left: 680px;
      margin-top: -200px;
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
}
.card{
     background-color: rgb(96, 96, 212);
     padding: 10px;
     border-radius: 15px;
     width: 96px;
     height: 61px;
     color: whitesmoke;
    padding-top: 14px;
    text-align: center;
    font-size: large;
     margin: 3px;
  
}
.card:hover{
    transition: 0.3s ease;
    background-color: rgb(110, 110, 214);
    text-align: center;
    font-size: larger;
    width: 100px;
    height: 65px;
    cursor: pointer;
  
}